<!DOCTYPE html>
<html lang="en">
<head>
  <title>Niaz Rooz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>
  $(document).ready(function(){
    $(".btn1,.btn2, .btn3").click(function(){
      $.get('/worod', function(){
        $('html').load('./worod.html');
      });
    });
});
</script>
<script>
  var app = angular.module("myShoppingList", []); 
  app.controller("myCtrl", function($scope, $http) {
      $http.get("/new-2") 
      .then(function(response) {
          $scope.aghahi = response.data;
      });
  });
</script>
</head>
<body>
    <header class="fixed-top back">
        <div class="d-flex justify-content-between">
            <div class="header-left">
                <div class="d-flex">
                  <div class="mt1">
                  <a class="btn1" href="#">درج آگهی رایگان</a>
                  <a class="btn2" href="#">آگهی رایگان</a>
                  <a class="btn3" href="#"><i style='font-size:24px' class='fas'>&#xf067;</i></a>
                  </div>
                  <div class="border-1 py-1">
                    <a class="a-1" href="#">
                      <img class="w_icon mb-1" src="image/s.png" />
                    </a>
                    <input class="rtl input-1" type="text" placeholder="جستجو">
                  </div>
                </div>
            </div>

            <div class="md_2">  
              <div class="d-flex">
                <div class="flex-fill dis-w">
                  <a class="nav-link a1" href="#">
                    <span>انتخاب گروه</span>
                    <img class="w_icon mb-1" src="image/w.png" />
                  </a>
                </div>
                <div class="flex-fill dis-w">
                  <a class="nav-link a1" href="#">
                    <span>انتخاب شهر</span>
                    <img class="w_icon mb-1" src="image/m.png" />
                  </a>
                </div>
                <div class="flex-fill dis-p">
                  <a class="nav-link a1" href="#">
                    <span>پنل کاربری</span>
                    <img class="w_icon mb-1 a1" src="image/p.png" />
                  </a>
                </div>
              </div>
            </div>

              <div>
                <img id="img1" class="mr-1" src="image/logo.jpg" />
              </div>  
        </div>
        
        <div class="div-2">
          <div class="d-flex flex-row-reverse">
            <div class="dis-h">
              <a class="nav-link a1" href="#">
                <i style="font-size:10px;" class="fa">&#xf107;</i>
                <span>انتخاب گروه</span>
              </a>
            </div>
            <div class="dis-h">
              <a class="nav-link a1" href="#">
                <i style="font-size:10px" class="fa">&#xf107;</i>
                <span>انتخاب شهر</span>
              </a>
            </div>
            <div class="dis-p-2 mr-auto">
              <a class="nav-link a1" href="#">
                <img class="w_icon mb-1 a1" src="image/p.png" />
              </a>
            </div>
          </div>
          </div>
        </div>
    </header>

    <main class="main">
      
        <div class="rtl">
          <div class="fsize">
            <div class="left">
              <div id="accordion">
  
                <div class="card">
                  <div class="card-header">
                    <a class="card-link a2" data-toggle="collapse" href="#collapseOne">
                      گروه های اصلی
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show">
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">صنعت</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کشاورزی و دامداری</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">پزشکی و سلامت</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بازرگانی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خدمات مسافرتی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خدمات ساختمانی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خدمات</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">املاک</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کار و ایتخدام</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">آموزش</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">لوازم</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کامپیوتر</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">موبایل</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">وسیله نقلیه</a>
                    </div>
                    <div class="card-body px-1 py-1 pb-3">
                      <a class="a3" href="#">حیوانات خانگی</a>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header card-d">
                    <a class="collapsed card-link a2" data-toggle="collapse" href="#collapseTwo">
                      گروه های منتخب
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse">
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خرید وفروش ویلا</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خرید و فروش آپارتمان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">زمین</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">باغ ویلا</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خرید و فروش خانه</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بذر صیفی جات</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#"></a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">دوربین مدار بسته</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">پوشاک زنانه</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">رهن و اجاره آپارتمان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بسته بندی و حمل اثاثیه</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">ثبت و رتبه بندی شرکت ها</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">تلویزیون</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">آموزش دروس</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">هدایای تبلیغاتی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">پایان نامه ، پروژه ، مقاله</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">آپارتمان مبله</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خدمات چاپ و صحافی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">تجهیزات پرورش طیور</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خرید و فروش مغازه</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">فروشگاه لوازم یدکی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">تخم طیور</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">ترخیص کالا</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کولر و اسپلیت</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">طراحی سایت و اپیکیشن</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">استخدام بازرگانی تجاری</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">سایر مواد شیمیایی جامد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کار در منزل</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">اتوماسیون صنعتی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">استخدام اداری و مالی</a>
                    </div>
                    <div class="card-body px-1 py-1 pb-3">
                      <a class="a3" href="#">کلاس و امکانات آموزشی</a>
                    </div>
                  </div>
                </div>
              
                <div class="card">
                  <div class="card-header card-d">
                    <a class="collapsed card-link a2" data-toggle="collapse" href="#collapseThree">
                      شهر های پر طرفدار
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">تهران</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">اصفهان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">مشهد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کرج</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">تبریز</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">رشت</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">شیراز</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">شهری</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">سرخرود</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">قم</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بندرانزلی</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">ارومیه</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">محمود آباد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">اهواز</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">ساری</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">اندیمشک</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کرمان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">قزوین</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">یزد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بابلسر</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">تجریش</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">اراک</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">نوشهر</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">آمل</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">اسلام شهر</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بانه</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">ملارد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">پردیس</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">لواسان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">لاهیجان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">کرمانشاه</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">اردبیل</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">زنجان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">همدان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">گرگان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بندرعباس</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">سنندج</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بوشهر</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بیرجند</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">سمنان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">زاهدان</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">خرم آباد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">بجنورد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">شهرکرد</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">یاسوج</a>
                    </div>
                    <div class="card-body px-1 py-1">
                      <a class="a3" href="#">ایلام</a>
                    </div>
                    <div class="card-body px-1 py-1 pb-3">
                      <a class="a3" href="#">سایر شهرها</a>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
          <div class="right" div ng-app="myShoppingList" ng-controller="myCtrl">
            <div class="clearfix">
                <h4 class="float-right">نیازمندیها ، آگهی و تبلیغات اینترنتی</h4>
                <div class="float-left">
                  <a id="btn_1" class="a-5 p-1" href="#"><i style='font-size:24px' class='fas'>&#xf0c9;</i></a>
                  <a id="btn_2" class="a-5 p-1" href="#"><i style='font-size:24px' class='fas'>&#xf00a;</i></a>
                </div>
            </div>
            <div class="page_0">
              <div class="d-flex page_1" ng-repeat="x in aghahi">
                <div class="agi flex-grow-1">
                  <a href="#">{{x.mozo}}</a>
                  <p class="para-1">{{x.matn}}</p>
                  <div class="div-l">
                    <p class="para-2">اطلاعات تماس و جزییات بیشتر</p>
                  </div>
                  <div class="d-flex f-12">
                    <div>
                      <i>امروز ۱۳:۰۶|بندر انزلی|امین چوب کاسپین</i>
                    </div>
                    <div class="mr-auto f-11">
                      <a href="#" style='font-size:15px;color:gold'><i class='fas fa-star'></i></a>
                    </div>
                  </div>
                </div>
                <div class="item_2">
                  <img src="image/P3.jpg" alt="تصویر لود نشد">
                </div>
              </div>
            </div>
           

            <div class="page_2_1">
                  <div class="item_2_1">
                    <img src="image/P3.jpg" alt="تصویر لود نشد">
                  </div>
                  <div class="item_2_2">
                    <a href="#">استخدام مدرس زبان گرجی</a>
                    <p class="para-1">نیازمند مدرس گرجی - استخدام مدرس گرجی در موسسه زبان های خارجی پروان برای اطلاعات بیشتر با ما شماره تماس حاصل فرمایید</p>
                    <div class="div-l">
                      <p class="para-2">اطلاعات تماس و جزییات بیشتر</p>
                    </div>
                    <div class="d-flex f-12">
                      <div>
                        <i>امروز ۱۳:۰۶|بندر انزلی|امین چوب کاسپین</i>
                      </div>
                      <div class="mr-auto f-11">
                        <a href="#" style='font-size:15px;color:gold'><i class='fas fa-star'></i></a>
                      </div>
                  </div>
                </div>
            </div>
                        
          </div>
        </div>
      
      <div class="page d-flex justify-content-center">
        <ul class="pagination rtl">
          <li class="page-item page-p"><a id="c-1-1" class="page-link" href="#">قبل</a></li>
          <li class="page-item page-p"><a id="c-2" class="page-link" href="#">1</a></li>
          <li class="page-item page-p"><a id="c-2" class="page-link" href="#">2</a></li>
          <li class="page-item page-p"><a id="c-2" class="page-link" href="#">3</a></li>
          <li class="page-item page-p"><a id="c-2" class="page-link" href="#">4</a></li>
          <li class="page-item page-p"><a id="c-2" class="page-link" href="#">5</a></li>
          <li class="page-item page-p"><a id="c-1-1" class="page-link" href="#">بعد</a></li>
        </ul>
      </div>
    </main>
    
    <footer>
      <div class="footer">
        <div class="d-flex">
          <div class="">
            <div class="d-flex">
              <div>
                  <img src="image/logo2.png" alt="">
              </div>
              <div>
                  <img class="el" src="image/el.jpg" alt="">
              </div>
            </div>
            
          </div>
          <div class="ml-auto">
            <ul class="ul-1">
              <li>درباره ما</li>
              <li>تماس با ما</li>
              <li>حفظ حریم شخصی</li>
            </ul>
          </div>
          <div class="ml-auto">
            <ul class="ul-2">
              <li>تعرفه سرویس ها</li>
              <li>قوانین درج آگهی</li>
              <li>راهنمای سایت</li>
            </ul>
          </div>
          <div class="ml-auto">
            <ul class="ul-3">
              <li>
                <table>
                  <td><span>کانال رسمی نیاز روز</span></td>
                  <td><i style='font-size:20px;color: rgb(97, 189, 231);padding-top: 5px;' class='fab'>&#xf3fe;</i></td>
                </table>
                
              </li>
              <li>
                <table class="margin-t">
                  <td><span>درج آگهی رایگان</span></td>
                  <td><i style='font-size:20px;color: rgb(252, 197, 46);padding-top: 5px;' class='fas'>&#xf067;</i></td>
                </table>
              </li>
            </ul>
          </div>
          
        </div>
        
      </div>
     
    </footer>

</body>
</html>