.rtl{
    direction: rtl;
}
.main{
    background-color: #f1f1f1;
    margin-top: 68px;
}
.left{
    border: 1px solid rgb(175, 175, 175);
    max-width: 100%;
}
.img{
    width: 280px;
    height: 200px;
}
.back{
    background-color: #f6f6f6;
    height: 70px;
    border-bottom: 1px solid rgb(179, 178, 178);
}
#img1{
    width: 128px;
    height: 55px;
}

.a1{
    font-size: 15px;
    color: dimgrey;
    text-align: center;
}
.a1:hover{
    color: black;
}
.fsize{
    font-size: 13px;
    text-align: right;
    width: 20%;
    float: right;
    padding-top: 15px;
}
.right{
    width: 80%;
    float: left;
    padding: 15px 15px;
    padding-left: 55px;
}
.a2{
    color: black;
}
.a2:hover{
    color: black;
}
.btn1:hover{
    text-decoration: none;
    color: white;
}
.btn2:hover{
    text-decoration: none;
    color: white;
}
.card-body:hover{
    background-color: rgb(223, 223, 223);
}
.w_icon{
    width: 20px;
    height: 20px;
}
.btn-1{
    padding: 0;
}
.btn1{
    background-color: rgb(247, 148, 29);
    color: white;
    padding: 8px;
}
.btn2{
    background-color: rgb(247, 148, 29);
    color: white;
    padding: 8px;   
}
.btn3{
    color: #000;
}
.input-1{
    border: 0;
}
.border-1{
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
}
.a-1{
    text-decoration: none;
    background-color: white;
}
.a-1:hover{
    text-decoration: none;
}
.mt1{
    margin: auto;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
.page{
    clear: both;
    padding: 25px;
}
.page-p{
    padding: 2px;
    margin: 2px;
}
#c-1{
    color: white;
    background-color: #4582ec;
    font-size: 16px;
    font-family: sans-serif;
}
#c-1-1{  
    background-color: #4582ec;
    padding: 8px;
    text-decoration: none;
    color: white;
}
#c-2{
    color: dimgray;
}
.footer{
    border-top: 1px solid dimgray;
    text-align: right;
    padding: 25px;
    background-color: darkcyan;
}
.a-5{
    color: rgb(201, 201, 201);
}
.a-5:hover{
    color: rgb(201, 201, 201);
}

  @media only screen and (min-width: 1115px) {
    .btn2{
        display: none;
    }
  }
  @media only screen and (max-width: 1115px) {
    .btn1{
        display: none;
    }
  }
  @media only screen and (max-width: 1020px) {
    .footer{
        background-color: darkgoldenrod;
    }
    .btn2{
        padding: 13px 0px 10px;
        font-size: 11px;
    }
  }
  @media only screen and (min-width: 960px) {
      .btn3{
          display: none;
      }
  }
  @media only screen and (max-width: 960px) {
    .btn2{
        display: none;
    }
    .fsize{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .md_2{
        display: none;
    }
    .a1{
        text-align: right;
    }
  }
  @media only screen and (max-width: 550px) {
    #c-1{
        display: none;
    }
  }
  @media only screen and (min-width: 550px) {
    #c-1-1{
        display: none;
    }
  }
  @media only screen and (max-width: 580px) {
      .d-1{
          display: none;
      }
  }
