body{
    font-family: Tahoma;
}
.rtl{
    direction: rtl;
}
ul {
    list-style: none;
  }
.main{
    background-color: #f1f1f1;
    margin-top: 68px;
}
.left{
    border: 1px solid rgb(175, 175, 175);
    max-width: 100%;
}
.img{
    width: 280px;
    height: 200px;
}
.back{
    background-color: #f6f6f6;
    height: 68px;
    border-bottom: 1px solid rgb(179, 178, 178);
}
#img1{
    width: 122px;
    height: 55px;
    margin-top: 5px;
    margin-left: 8px;
}
.container-2{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.a1{
    font-size: 15px;
    color: dimgrey;
    text-align: center;
}
.a1:hover{
    color: black;
}
.fsize{
    font-size: 13px;
    text-align: right;
    width: 16%;
    float: right;
    padding-top: 15px;
}
.right{
    width: 84%;
    float: left;
    padding: 15px 15px;
    padding-left: 55px;
}
.a2{
    color: black;
}
.a2:hover{
    color: black;
}
.btn1:hover{
    text-decoration: none;
    color: white;
}
.btn2:hover{
    text-decoration: none;
    color: white;
}
.card-body:hover{
    background-color: rgb(223, 223, 223);
}
.w_icon{
    width: 20px;
    height: 20px;
}
.btn-1{
    padding: 0;
}
.btn1{
    background-color: rgb(247, 148, 29);
    color: white;
    padding: 8px;
}
.btn2{
    background-color: rgb(247, 148, 29);
    color: white;
    padding: 8px;   
}
.btn3{
    color: #000;
}
.input-1{
    border: 0;
}
.border-1{
    border: 1px solid rgb(207, 207, 207);
    background-color: white;
}
.a-1{
    text-decoration: none;
    background-color: white;
}
.a-1:hover{
    text-decoration: none;
}
.mt1{
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 1px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}
.page{
    clear: both;
    padding: 25px;
}
.page-p{
    padding: 2px;
    margin: 2px;
}
#c-1-1{  
    background-color: #4582ec;
    text-decoration: none;
    color: white;
}
#c-2{
    color: dimgray;
}
.footer{
    border-top: 1px solid dimgray;
    padding: 15px;
    background-color: white;
}
.a-5{
    color: rgb(201, 201, 201);
}
.el{
    width: 90px;
    height: 140px;
}
.a-5:hover{
    color: rgb(201, 201, 201);
}
.md_2{
    margin-left: 268px;
    margin-top: 14px;
}
.header-left{
    margin-top: 14px;
}
.div-2{
    border-top: 1px solid rgb(184, 184, 184);
}
.ul-1{
    text-align: right;
}
.margin-t{
    margin-left: 16px;
}
.ul-1 li{
    padding: 5px 0;
    font-size: 12px;
    margin-right: 5px;
}
.ul-2{
    text-align: right;
}
.ul-2 li{
    padding: 5px 0;
    font-size: 12px;
    margin-left: 0px;
}
.ul-3{
    text-align: right;
}
.ul-3 li{
    padding: 5px 0;
    font-size: 12px;
    margin-right: 205px;
}
  @media only screen and (min-width: 1215px) {
    .btn2{
        display: none;
    }
  }
  @media only screen and (max-width: 1215px) {
    .btn1{
        display: none;
    }
  }
  @media only screen and (max-width: 1160px) {
   .md_2{
    margin-left: 150px;
    margin-top: 14px;
    }
  }
  @media only screen and (max-width: 1050px) {
    .md_2{
     margin-left: 80px;
     margin-top: 14px;
     }
   }

  @media only screen and (min-width: 960px) {
      .div-2{
          display: none;
      }
      .dis-h{
          display: none;
      }
  }
  @media only screen and (max-width: 960px) {
    .back{
        height: 78px;
    }
    .header-left{
        margin-top: 2px;
    }
    .md_2{
        margin-left: 80px;
        margin-top: 2px;
        }
      .dis-p{
        margin-right: 50px;
      }
    .card-d{
        display: none;
    }
    .fsize{
        width: 100%;
    }
    .right{
        width: 100%;
        padding: 0;
        padding-top: 10px;
    }
    #img1{
        width: 100px;
        height: 35px;
    }
    .a1{
        font-size: 12px;
        color: dimgrey;
        text-align: right;
        text-align: right;
    }
    .d-1{
        padding: 0px;
    }
    .dis-w{
        display: none;
    }
  }
  @media only screen and (min-width: 745px){
    .btn3{
        display: none;
    }
    .page_2_1{
        display: none;
    }
  }
  @media only screen and (max-width: 745px) {
      .btn2{
          display: none;
      }
      .item_2_1{
          width: 100%;
          background-color: rgb(146, 145, 199);
      }
      .item_2_2{
        width: 100%;
    }
      .page_2_1{
          width: 100%;
          text-align: center;
          background-color: white;
          box-shadow: 1px 1px 1px grey;
          margin: 25px 0;
      }
      .page_0{
          display: none;
      }
  }
  @media only screen and (max-width: 550px) {
    .input-1{
        width: 160px;
    }
    .header-left{
        margin-top: 0px;
    }
  }
  @media only screen and (max-width: 580px) {
      .d-1{
          display: none;
      }
  }
  @media only screen and (min-width: 670px){
    .dis-p-2{
        display: none;
    }
  }
  .f-12{
      padding-right: 10px;
  }
  .f-11{
      padding-left: 10px;
  }
  @media only screen and (max-width: 670px){
      .dis-p{
          display: none;
      }
  }
  .d-1{
      padding: 8px;
  }
.page_1{
    height: 220px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px grey;
    margin: 18px 0;
}
.item_2{
    width: 400px;
    background-color: rgb(109, 140, 165);
}
.agi{
    text-align: right;
    width: 100%;
}
.item_2 img{
    width: 100%;
    height: 100%;
}
.para-2{
    color: white;
 
}
.para-2:hover{
    background-color: rgb(51, 177, 51);
    color: white;

}
.agi a{
    padding: 0px;
    margin-right: 10px;
    color: rgb(17, 17, 175);
}
.agi a:hover{
    text-decoration: none;
    padding: 0px;
    color: rgb(17, 17, 175);
}
.agi .para-1{
    height: 60px;
    padding: 10px;
    margin-top: 15px;
    font-family: Tahoma;
}
.div-l{
    margin-top: 55px;
    margin-right: 10px;
}


/* codes worod.html page */

.fsize-1{
    text-align: center;
}